#root  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body {
  padding-top: 60px;
  margin: 0;
  display: flex;
  justify-content: center;  
  background: linear-gradient(to bottom,#528394, #6b9dad, #8ab3c0 );
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  
}


header {
  background-color: #f8f8f8;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  z-index: 1000; /* Garante que o menu fique sobre outros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-list .nav-item:first-child {
  margin-right: auto; /* Empurra os outros itens para a direita */
}
.nav-list-right {
  display: flex;
  gap: 10px;
  margin-left: auto; /* Empurra os outros botões para a direita */
}

.nav-item {
  padding: 8px 15px;
  background-color: #8ab3c0;
  border-radius: 8px;
  cursor: pointer;
  color: #001215;
  transition: background-color 0.3s;
  font-weight: 545;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item-admin {
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #2a4954;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s;
}


.nav-item:hover {
  background-color: #2a4954;
  color: #fff;
}

.nav-item.active {
  background-color: #2a4954;
  color: #fff;
}

.nav-item.active:hover {
  background-color: #c8dfe8;
  color: #001215;
}

@media screen and (max-width: 768px) {
  .nav-list {
      flex-wrap: wrap;
  }

  .nav-item {
      margin-bottom: 10px;
  }
}


.container {
  padding-top: 60px;
  gap: 100px;
  width: 100%; /* Define a largura fixa do conteúdo */
  max-width: 900px; /* Limita a largura máxima */
  min-width: 900px;
  min-height: 100vh; /* Garante que a altura mínima seja de 100% da viewport */
}

.container h2{  
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.card-container-cliente {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 10px;
}

.card-container-assistencia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 10px;
}


.card {
  background-color: #aac9d3;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  transition: box-shadow 0.3s;
}

.card-t {
  text-align: left;
  margin-top: 20px;
  padding: 20px;
}

.card-t h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.card-text {
  font-size: 0.96rem;
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.sub-menu {
  padding: 5px 16px;
  background-color: #132d34;
  border-radius: 6px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  transition: background-color 0.3s;
}

.sub-menu:hover {
  background-color: #2a4954;
  border-color: #333;
  color: #ffffff;
}

.sub-aba {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-left: 20px;
  justify-content: center;
}

.form-container {  
  margin-top: 30px;
  max-width: 400px; /* Limita a largura máxima do formulário */
  margin: 0 auto; /* Centraliza o formulário horizontalmente */
  padding: 50px 20px; /* Espaçamento interno */
  border-radius: 8px; /* Cantos arredondados */
  background-color: #aac9d3; /* Cor de fundo do formulário */
  margin-bottom: 40px;
}

.form-container input {
  width: 100%; /* Faz com que o campo ocupe toda a largura disponível */
  padding: 10px; /* Espaçamento interno dos campos */
  margin-bottom: 15px; /* Espaçamento abaixo de cada campo */
  border: 1px solid #ccc; /* Borda leve ao redor dos campos */
  border-radius: 4px; /* Cantos arredondados */
  font-size: 16px; /* Tamanho da fonte dentro dos campos */
  box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura total */
}
.form-container label {
  display: block; /* Faz com que cada rótulo ocupe uma linha */
  margin-bottom: 8px; /* Espaçamento abaixo do rótulo */
  font-size: 16px; /* Tamanho da fonte dos rótulos */
  color: #333; /* Cor do texto dos rótulos */
  font-weight: 700;
}

.form-container select {
  width: 100%; /* Faz com que o campo ocupe toda a largura disponível */
  padding: 10px; /* Espaçamento interno dos campos */
  margin-bottom: 15px; /* Espaçamento abaixo de cada campo */
  border: 1px solid #ccc; /* Borda leve ao redor dos campos */
  border-radius: 4px; /* Cantos arredondados */
  font-size: 16px; /* Tamanho da fonte dentro dos campos */
  box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura total */
}

.form-container button {
  background-color: #1f1f20; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão do botão */
  padding: 10px; /* Espaçamento interno do botão */
  width: 100%;
  text-align: center; /* Centraliza o texto do botão */
  text-decoration: none; /* Remove o sublinhado do texto */
  display: inline-block; /* Exibe o botão em linha com outros elementos */
  font-size: 16px; /* Tamanho da fonte do botão */
  margin-top: 10px; /* Espaçamento acima do botão */
  border-radius: 4px; /* Cantos arredondados do botão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

/* Estilo do botão ao passar o mouse */
.form-container button:hover {
  background-color: #4e4c4c; /* Cor de fundo ao passar o mouse */
}



.form-container-agendar {  
  margin-top: 30px;
  max-width: 400px; /* Limita a largura máxima do formulário */
  margin: 0 auto; /* Centraliza o formulário horizontalmente */
  padding: 50px 20px; /* Espaçamento interno */
  /*border: 1px solid #ddd;  Borda leve ao redor do formulário */
  border-radius: 8px; /* Cantos arredondados */
  background-color: #aac9d3; /* Cor de fundo do formulário */
  margin-bottom: 90px;
}

.form-container-agendar input {
  width: 100%; /* Faz com que o campo ocupe toda a largura disponível */
  padding: 10px; /* Espaçamento interno dos campos */
  margin-bottom: 15px; /* Espaçamento abaixo de cada campo */
  border: 1px solid #ccc; /* Borda leve ao redor dos campos */
  border-radius: 4px; /* Cantos arredondados */
  font-size: 16px; /* Tamanho da fonte dentro dos campos */
  box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura total */
}
.form-container-agendar label {
  display: block; /* Faz com que cada rótulo ocupe uma linha */
  margin-bottom: 8px; /* Espaçamento abaixo do rótulo */
  font-size: 16px; /* Tamanho da fonte dos rótulos */
  color: #333; /* Cor do texto dos rótulos */
  font-weight: 700;
}

.form-container-agendar select {
  width: 100%; /* Faz com que o campo ocupe toda a largura disponível */
  padding: 10px; /* Espaçamento interno dos campos */
  margin-bottom: 15px; /* Espaçamento abaixo de cada campo */
  border: 1px solid #ccc; /* Borda leve ao redor dos campos */
  border-radius: 4px; /* Cantos arredondados */
  font-size: 16px; /* Tamanho da fonte dentro dos campos */
  box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura total */
}

.form-container-agendar button {
  background-color: #2a4954; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão do botão */
  padding: 10px; /* Espaçamento interno do botão */
  width: 100%;
  text-align: center; /* Centraliza o texto do botão */
  text-decoration: none; /* Remove o sublinhado do texto */
  display: inline-block; /* Exibe o botão em linha com outros elementos */
  font-size: 16px; /* Tamanho da fonte do botão */
  margin-top: 10px; /* Espaçamento acima do botão */
  border-radius: 4px; /* Cantos arredondados do botão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

/* Estilo do botão ao passar o mouse */
.form-container-agendar button:hover {
  background-color: #3e6674; /* Cor de fundo ao passar o mouse */
}

.espaco-final {
  padding: 5px;
}

.botao-cancelar {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.botao-cancelar button {
  color: #aa0000;
  background-color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 100;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  
}

.botao-cancelar button:hover {
  background-color: #aa0000;
  color: #ffffff;
}

.message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}


.logo-container {
   /*background-color: #aac9d3; Cor de fundo cinza */
  padding: 10px;
  border-radius: 8px;
  width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}

.logo {
  max-width: 600px; /* Ajuste o tamanho da logo conforme necessário */
  height: auto;
}

.section {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaço entre imagem e conteúdo */
}


.content {
  flex-direction: column;
}

.container-section {
  width: 900px;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px; /* Espaço entre as seções */
  background-color: #8ab3c0;
}

.container-section h2 {
  font-size: 25px;
}

.section-button {
  display: block;
  width: fit-content;
  padding: 8px 20px;
  background-color: #2a4954;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Ajuste este valor conforme necessário para posicionar o botão */
}

.section-button:hover {
  background-color: #e0e0e0; /* Ajuste a cor ao passar o mouse conforme necessário */
  color: #000;
}

.button-container {
  margin-top: auto; /* Isso empurra o botão para baixo dentro do container */
}

.section-image {
  width: 300px;
  height: 200px;
  object-fit: cover; /* Isso garante que a imagem cubra o espaço designado sem distorção */
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  
  .section:nth-child(2) {
    flex-direction: column-reverse;
  }
}

.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000; /* Certifica-se de que a popup fique sobreposta a outros elementos */
  width: 300px;
  text-align: center;
}

.confirmation-popup p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.confirmation-popup button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-popup button:first-of-type {
  background-color: #dc3545; /* Cor do botão de "Sim" */
  color: #fff;
}

.confirmation-popup button:last-of-type {
  background-color: #6c757d; /* Cor do botão de "Não" */
  color: #fff;
}

.confirmation-popup button:hover {
  opacity: 0.9;
}